.bomb {
  @include rm(1220) {
    padding-top: 60px;
  }
  &__title {
    margin-bottom: 10px;
    @include rm(1024) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    @include rm(1024) {
      margin-bottom: 30px;
    }
    @include rm(1220) {
      margin-bottom: 50px;
    }
  }

  .danger {
    margin-bottom: 20px;
    counter-reset: danger;
    @include rm(640) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      max-width: 720px;
      margin: 0 auto 40px;
    }
    @include rm(1220) {
      max-width: none;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__item{
      margin: 0 auto;
      max-width: 240px;
      @include rm(480) {
        display: flex;
        align-items: center;
        max-width: none;
      }
      @include rm(640) {
        max-width: 240px;
        flex-direction: column;
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
      @include rm(768) {
        max-width: 270px;
      }
      @include rm(1220) {
        &:nth-child(n) {
          margin: 0;
        }
        &:nth-child(2n - 1) {
          margin-top: 100px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:nth-child(1) .danger__img {
        max-width: 103.33%;
      }
      &:nth-child(2) .danger__img {
        max-width: 108%;
      }
      &:last-child {
        @include r(479) {
          & .danger__text {
            margin-bottom: 30px;
          }
        }
      }
    }

    &__text {
      position: relative;
      padding-left: 90px;
      margin-bottom: 15px;
      font-size: 17px;
      line-height: 20px;
      font-weight: 700;
      color: $black-color;
      @include rm(480) {
        max-width: 180px;
        padding: 70px 5px 0;
        margin: 0;
        text-align: center;
      }
      @include rm(640) {
        max-width: 270px;
        width: 100%;
        padding: 0 0 0 90px;
        margin-bottom: 30px;
        vertical-align: middle;
        text-align: left;
      }

      &::before {
        position: absolute;
        left: 0;
        top: calc(50% - 32px);
        width: 90px;
        counter-increment: danger;
        content: counter(danger) '.' ;
        font-size: 80px;
        line-height: 0.8;
        font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
        font-style: italic;
        font-weight: 700;
        text-align: center;
        color: $blue-darck;
        background: url(../img/line__grey.png) no-repeat center bottom;
        background-size: contain;
        @include rm(480) {
          top: 0;
          left: calc(50% - 45px);
        }
        @include rm(640) {
          padding-bottom: 5px;
          left: 0;
          top: calc(50% - 32px);
          background-size: 100% 20px;
        }
      }
    }

    &__img_wrapper {
      position: relative;
      width: 240px;
      height: 240px;
      margin: 0 auto;
      @include rm(768) {
        width: 270px;
        height: 270px;
      }
    }

    &__img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__bottom_text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: $black-color;
    @include rm(1024) {
      font-size: 26px;
    }

    .text__orange {
      display: inline-block;
      @include rm(1024) {
        font-size: 28px;
      }
    }
  }
}