.doctor {
  &__title {
    margin-bottom: 15px;
  }
  &__wrapper_doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
  &__name {
    font-size: 22px;
  }

  &__speciality {
    font-size: 17px;
    font-style: italic;
  }
  &__experiance {
    font-size: 17px;
  }
  &__header {
    margin-bottom: 10px;
    font-size: 26px;
  }

  &__subtitle {
    margin-bottom: 15px;
    .text__orange {
      font-size: 20px;
    }
  }
  &__text {
    margin-bottom: 10px;
    font-size: 17px;
  }
  &__sign {
    margin-left: auto;
  }
}