.order {
  position: relative;
  min-width: 270px;
  width: 270px;
  padding: 30px 20px 40px;
  background: #fff;
  border-radius: 6px;
  @include rm(1360) {
    &::after {
      position: absolute;
      content: '';
      width: 76px;
      height: 287px;
      right: -65px;
      top: 160px;
      background: url(../img/arrow__orange.png) no-repeat center center;
    }
  }

  &__discount {
    position: absolute;
    right: -20px;
    top: -30px;
    display: inline-block;
    width: 85px;
    padding: 10px 0;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    font-size: 26px;
    line-height: 45px;
    font-weight: 700;
    background: url(../img/discount__bg.png) no-repeat center center;
    background-size: contain;
    transform: rotate(5deg);
    @include rm(1220) {
      width: 95px;
      right: -40px;
      top: -20px;
      padding: 15px 0;
      font-size: 33px;
      line-height: 48px;
    }

    &_percent {
      font-size: 18px;
    }
  }

  &__date {
    max-width: 150px;
    margin: 0 auto 25px;
    text-align: center;
  }

  .price {
    margin-bottom: 20px;
  }

  &__pack {
    max-width: 180px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  .form {
    margin: 0 auto 30px;
  }

  &__protect {
    position: relative;
    padding-left: 50px;
    font-size: 14px;
    line-height: 24px;
    color: $grey-text-color;

    svg {
      position: absolute;
      left: 20px;
      top: 0;
    }
  }
}