.popup {
  width: 270px;
  padding: 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.5);
  @include rm(1000) {
    display: flex;
    align-items: flex-end;
    width: 750px;
  }
  &__product-wrapper {
    display: none;
    @include rm(1000) {
      position: relative;
      display: block;
      width: 100%;
      margin-right: auto;
      &::before {
        position: absolute;
        content: '';
        width: 545px;
        height: 535px;
        bottom: 0;
        left: 0;
        background: url(../img/man_2.png) no-repeat left bottom;
        border-bottom-left-radius: 6px;
      }
      &::after {
        position: absolute;
        content: '';
        width: 500px;
        height: 90px;
        left: 5px;
        bottom: -50px;
        background: url(../img/line__grey.png) no-repeat left center;
        background-size: contain;
        transform: rotate(4deg);
      }
    }
  }
  &__product {
    position: absolute;
    z-index: 2;
    max-width: 524px;
    left: 10px;
    bottom: -30px;
  }
  .order {
    background: none;
  }
}

.ever-popup {
  background: rgba(244, 244, 244, 0.9) !important;
}
.ever-popup.show {
  overflow: hidden;
}
.ever-popup__close {
  opacity: 0;
}

.ever-popup__inner {
  padding-bottom: 50px;
}