.promo {
  background: #f1f2f8;
  @include rm(640) {
    &.block {
      padding-top: 30px;
    }
  }
  @include rm(1024) {
    position: relative;
    margin-bottom: 30px;
    &:last-child {
      padding-top: 50px;
    }
  }
  @include rm(1220) {
    margin-bottom: 85px;
  }

  &__mid_wrapper {
    @include rm(640) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    @include rm(1024) {
      flex-wrap: nowrap;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__top_wrapper {
    margin-bottom: 15px;
    @include rm(1024) {
      display: flex;
      justify-content: space-between;
    }
    
    @include rm(1220) {
      margin-bottom: 40px;
    }
  }

  &__logo {
    min-width: 270px;
    margin: 0 auto;
    @include rm(1024) {
      margin-right: 30px;
    }
    @include rm(1220) {
      margin-right: 150px;
    }
  }

  &__excellence {
    display: none;
    @include rm(1024) {
      display: flex;
    }
  }

  .excellence {
    @include rm(1024) {
      align-items: center;
      font-size: 14px;
    }
    &__item {
      position: relative;
      padding-left: 50px;
      @include rm(1220) {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      &::before {
        position: absolute;
        content: '';
        width: 40px;
        height: 64px;
        left: 0;
        top: calc(50% - 32px);
        @include rm(1220) {
          width: 50px;
        }
      }
      &:nth-child(1)::before {
        background: url(../img/excellence__01.png) no-repeat center center;
        background-size: auto 38px;
      }
      &:nth-child(2)::before {
        background: url(../img/excellence__02.png) no-repeat center center;
        background-size: auto 38px;
      }
      &:nth-child(3)::before {
        background: url(../img/excellence__03.png) no-repeat center center;
        background-size: auto 38px;
      }
    }
  }

  &__main_text {
    @include rm(1024) {
      max-width: 390px;
    }
    @include rm(1220) {
      max-width: 500px;
    }
  }

  &__title {
    margin-bottom: 15px;
    @include rm(1024) {
      margin-right: -140px;
      text-align: left;
    }
    @include rm(1220) {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    
    @include rm(480) {
      font-size: 22px;
    }

    @include rm(640) {
      margin-bottom: 30px;
    }

    @include rm(768) {
      margin-bottom: 40px;
    }

    @include rm(1024) {
      text-align: left;
    }
    @include rm(1220) {
      margin-bottom: 50px;
    }
  }

  &__support {
    margin-bottom: 25px;
  }


  &__product {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    @include rm(640) {
      margin: 0 auto 80px;
    }
    @include rm(768) {
      width: 400px;
      margin-bottom: 50px;
    }
    @include rm(1024) {
      padding-bottom: 10px;
      margin: auto 0 -100px -70px;
      &::before {
        position: absolute;
        content: '';
        z-index: -1;
        width: 100%;
        height: 30%;
        left: 0;
        bottom: 0;
        background: url(../img/line__grey.png) no-repeat center bottom;
        background-size: 100% auto;
      }
    }
    @include rm(1220) {
      width: 524px;
      margin: auto -60px -190px -80px;
    }
  }

  .order {
    margin: 0 auto;
    @include rm(1220) {
      margin: 0 20px 0 0;
    }
    @include rm(1360) {
      margin: 0;
    }
  }
}

.no-webp .promo {
  @include rm(1024) {
    background-color: #fff;
    background: url(../img/man.png) no-repeat left calc(50% + 75px) bottom 12px / 490px auto,
                url(../img/bg__promo.jpg) no-repeat center bottom / 1220px 100%;
  }
  @include rm(1220) {
    background-color: #fff;
    background: url(../img/man.png) no-repeat left calc(50% + 150px) bottom / auto auto,
                url(../img/bg__promo.jpg) no-repeat center bottom / auto 100%;
  }
}

.webp .promo {
  @include rm(1024) {
    background-color: #fff;
    background: url(../img/man.webp) no-repeat left calc(50% + 75px) bottom 12px / 490px auto,
                url(../img/bg__promo.jpg) no-repeat center bottom / 1220px 100%;
  }
  @include rm(1220) {
    background-color: #fff;
    background: url(../img/man.webp) no-repeat left calc(50% + 150px) bottom / auto auto,
                      url(../img/bg__promo.jpg) no-repeat center bottom / auto 100%;
  }
}

.support {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;

  @include rm(640) {
    max-width: 300px;
    margin: 0 0 -260px;
  }
  @include rm(768) {
    max-width: 440px;
    margin: 0 0 -200px;
  }
  @include rm(1024) {
    margin: 0;
  }

  &__item {
    position: relative;
    padding-left: 25px;

    .black {
      display: block;
      margin-bottom: 3px;
    }
    
    &:not(:last-child) {
      margin-bottom: 10px;
      @include rm(640) {
        margin-bottom: 20px;
      }
    }

    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 13px;
      left: 0;
      top: 5px;
      background: url(../img/icon__chek.png) no-repeat center center;
      
    }
  }
}
