.reviews {
  &__title {
    margin-bottom: 15px;
    @include rm(768) {
      margin-bottom: 25px;
    }
    @include rm(1024) {
      margin-bottom: 40px;
    }
    @include rm(1220) {
      margin-bottom: 50px;
    }
  }

  .slick-next,
  .slick-prev {
    z-index: 10;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #fff;
    &::before {
      position: absolute;
      opacity: 1;
      content: '';
      left: -13px;
      top: -8px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-left-color: $grey-text-color;
    }
    &:hover::before,
    &:focus::before {
      border-left-color: $orange-color;
    }
  }
  
  .slick-next {
    top: 150px;
    right: -10px;
    @include rm(1280) {
      right: -45px;
      top: 175px;
    }
  }
  
  .slick-prev {
    top: 137px;
    left: -10px;
    transform: rotate(180deg);
    @include rm(1280) {
      left: -45px;
      top: 162px;
    }
  }
  .slick-dots {
    bottom: 0;
    li {
      width: 10px;
      height: 10px;
      button {
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #cacfe2;
        background-color: #eef1f6;
      }
      &:hover,
      &:focus,
      &.slick-active {
        button {
          border: 1px solid $orange-color;
          background-color: $orange-color;
        }
      }
    }
  }
}

.review {
  padding-bottom: 25px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include rm(768) {
      padding: 15px;
      margin: 0 40px;
      background: #fff;
      border-radius: 16px;
    }
    @include rm(1024) {
      flex-direction: row;
      text-align: left;
    }
    @include rm(1280) {
      align-items: flex-start;
      padding: 30px 0 45px;
      margin: 0;
    }
  }
  &__img_wrapper {
    position: relative;
    max-width: 300px;
    height: 200px;
    margin-bottom: 10px;
    @include rm(1024) {
      min-width: 340px;
      height: 220px;
      margin: 0 20px 0 0;
    }
    @include rm(1280) {
      min-width: 470px;
      height: auto;
      padding: 0 0 40px;
      margin: 0 auto 0 0;
    }
    &:not([data-marker="before_after"]) {
      @include rm(1024) {
        min-width: 220px;
        height: 220px;
      }
      @include rm(1280) {
        min-width: 370px;
        padding: 0;
      }
    }
    
    &[data-marker="before_after"]::after,
    &[data-marker="before_after"]::before {
      position: absolute;
      content: '';
      bottom: 0;
      width: 144px;
      max-width: 48%;
      height: 30px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      color: #000;
      background: url(../img/line__grey.png) no-repeat center bottom;
      background-size: 100% 90%;
    }
    
    &[data-marker="before_after"]::before {
      content: 'До';
      left: calc(50% - 144px);
      @include rm(1280) {
        left: calc(50% - 170px);
      }
    }
    
    &[data-marker="before_after"]::after {
      content: 'После';
      right: calc(50% - 144px);
      @include rm(1280) {
        right: calc(50% - 170px);
      }
    }
  }
  &__photo {
    max-height: 200px;
    @include rm(1024) {
      margin: auto;
      max-height: 220px;
    }
    @include rm(1280) {
      max-height: none;
    }
  }
  &__name {
    font-size: 18px;
  }
  &__age {
    font-size: 14px;
    font-weight: 400;
    color: $grey-text-color;
  }
  &__city {
    margin-bottom: 10px;
    font-size: 16px;
    font-style: italic;
    
    @include rm(1024) {
      margin-bottom: 25px;
    }
  }
  &__header {
    margin-bottom: 10px;
    font-size: 22px;
    
    @include rm(1024) {
      margin-bottom: 20px;
    }
  }
  &__text {
    font-size: 17px;
  }
}