extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить Трауфрил недорого. Цены, отзывы. Закажите Трауфрил сейчас!";
  - const themeColor = "#ffffff";

append head

append content
  include components/svg.html
  include components/promo
  include components/bomb
  include components/complications
  include components/stop
  include components/composition
  include components/oldman
  include components/doctor
  include components/use
  include components/reviews
  include components/delivery
  include components/promo
  include components/footer
  include components/popup

append scripts
  script(src="https://179523.selcdn.ru/public/prod-scripts/cis_footer.js")
  script(defer src="https://179523.selcdn.ru/public/delivery-banner/banner.js")
