section.bomb.block
  .container
    h2.bomb__title.title Грыжа — <br> бомба замедленного действия
    h3.bomb__subtitle.subtitle.title__line Она может ущемиться в любой момент!
    ul.bomb__list.danger.list__line
      li.danger__item
        p.danger__text Грыжа опасна вероятностью ущемления
        .danger__img_wrapper
          picture
            source(srcset="img/danger__01.webp", type="image/webp")
            img.danger__img(src="img/danger__01.png", alt="image", loading="lazy")
      li.danger__item
        p.danger__text Это может произойти при чрезмерной физической нагрузке и даже запоре
        .danger__img_wrapper
          picture
            source(srcset="img/danger__02.webp", type="image/webp")
            img.danger__img(src="img/danger__02.png", alt="image", loading="lazy")
      li.danger__item
        p.danger__text Ущемление органов приводит к некрозу и нагноению
        .danger__img_wrapper
          picture
            source(srcset="img/danger__03.webp", type="image/webp")
            img.danger__img(src="img/danger__03.jpg", alt="image", loading="lazy")
      li.danger__item
        p.danger__text Тогда пациент попадает в хирургию и ложится на операцию
        .danger__img_wrapper
          picture
            source(srcset="img/danger__04.webp", type="image/webp")
            img.danger__img(src="img/danger__04.png", alt="image", loading="lazy")
    p.bomb__bottom_text Но даже если вы избегаете поднятия тяжелых предметов и следите за здоровьем,
      span.text__orange это не гарантирует того, что вы избежите операции!