section.complications.block.bg
  .container
    h2.complications__title.title.title__line Со временем <br> даже при неущемленной грыже развиваются осложнения
    ul.complications__list
      li.complications__item
        .complications__img_wrapper
          picture
            source(srcset="img/complications__01.webp", type="image/webp")
            img.complications__img(src="img/complications__01.jpg", alt="image", loading="lazy")
        h3.complications__header.bg__line.bg__line__white Воспаление
        p.complications__text Грыжа может 
          span.text__blue инфицироваться и&nbsp;воспалиться
          | . Это приводит к&nbsp;высокой температуре, рвоте, запорам, болям.
      li.complications__item
        .complications__img_wrapper
          picture
            source(srcset="img/complications__02.webp", type="image/webp")
            img.complications__img(src="img/complications__02.jpg", alt="image", loading="lazy")
        h3.complications__header.bg__line.bg__line__white Невправимость
        p.complications__text Со временем от грыжи уже не&nbsp;избавиться ручным вправлением. Она становится больше, выпирает из-под одежды.
          span.text__blue  Поможет только операция.
      li.complications__item
        .complications__img_wrapper
          picture
            source(srcset="img/complications__03.webp", type="image/webp")
            img.complications__img(src="img/complications__03.jpg", alt="image", loading="lazy")
        h3.complications__header.bg__line.bg__line__white Скопление кала в кишечнике
        p.complications__text Возникает, если в грыжевом мешке находится толстая кишка. Приводит к&nbsp;
          span.text__blue болезненным запорам.
      li.complications__item
        .complications__img_wrapper
          picture
            source(srcset="img/complications__04.webp", type="image/webp")
            img.complications__img(src="img/complications__04.jpg", alt="image", loading="lazy")
        h3.complications__header.bg__line.bg__line__white Дисфункция органов
        p.complications__text Органы, которые попадают в&nbsp;грыжу, прекращают функционировать. Возникает острая
          span.text__blue  нестерпимая боль 
          | в&nbsp;области “отмирающих” органов, поднимается температура.