section.delivery.block
  .container
    h2.delivery--title.title.title--line Заказать оригинальный 
      span.text__orange Трауфрил 
      | вы можете только на нашем сайте
    ul.delivery--list
      li.delivery--item
        span.delivery--arrow
        picture
          source(srcset="img/delivery__01.webp", type="image/webp")
          img.delivery--img(src="img/delivery__01.jpg", alt="Image", loading="lazy")
        h3.delivery--header.header__text Заполните форму заказа
        p.delivery--text Вам нужно указать только свое имя и номер телефона
      li.delivery--item
        span.delivery--arrow
        picture
          source(srcset="img/delivery__02.webp", type="image/webp")
          img.delivery--img(src="img/delivery__02.jpg", alt="Image", loading="lazy")
        h3.delivery--header.header__text Ответьте на звонок оператора
        p.delivery--text Он уточнит ваши данные и ответит на все вопросы о продукте
      li.delivery--item
        picture
          source(srcset="img/delivery__03.webp", type="image/webp")
          img.delivery--img(src="img/delivery__03.jpg", alt="Image", loading="lazy")
        h3.delivery--header.header__text Оплатите после получения
        p.delivery--text Все расходы по пересылке мы оплатим самостоятельно
