.order
  span.order__discount -50
    span.order__discount_percent %
  h3.order__date.bold.text__black Успейте заказать по промо-цене
    span.text__orange  до 
      span.date-0  31.31.2020
  include price
  p.order__pack.text__black Осталось
    span.lastpack.text__orange.bold  60
    |  упаковок со скидкой
  include form
  p.order__protect Ваши данные защищены!
    svg(viewBox="0 0 22 24", width="22")
      use(xlink:href="#secure")