.ever-popup-build
  .my-popup#cloneThis
    .popup
      .popup__product-wrapper
        picture
          source(media="(max-width: 999px)", srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==")
          source(srcset="img/prod3.webp", type="image/webp")
          img.popup__product(src="img/prod3.png", alt="Traufril")
      include order