.price
  .price__old
    p.price__name Старая цена:
    p.price__wrapper
      span.x_price_previous 1999 
      span.x_currency  ryb.
  .price__new
    p.price__name Новая цена:
    p.price__wrapper
      span.x_price_current 999 
      span.x_currency  ryb.