section.promo.block
  .container
    .promo__top_wrapper
      img.promo__logo(alt="logo", src="img/logo.png", width="270", height="64")
      ul.promo__excellence.excellence
        li.excellence__item Рекомендация терапевтов #1 при грыжах
        li.excellence__item Натуральный органический состав
        li.excellence__item Эффективность подтверждена клиниками Израиля и США
    .promo__mid_wrapper
      .promo__main_text
        h2.promo__title.title Единственная альтернатива операции
        h3.promo__subtitle.bold при грыжах брюшной стенки, паховой области и половых органов
        ul.promo__support.support
          li.support__item
            span.text__black.bold 
              span.bg__line.bg__line__yellow Не допускает
              |  операцию
            |  сводя к нулю риск ущемления грыжи
          li.support__item
            span.text__black.bold
              span.bg__line.bg__line__yellow Освобождает 
              |  от дискомфорта
            |  снижая боль, останавливая рост и уменьшая размер грыжи
          li.support__item
            span.text__black.bold
              span.bg__line.bg__line__yellow Помогает
              |  забыть о грыже
            |  защищая от развития заболеваний в ущемленных органах
      .promo__product
        picture
          source(media="(max-width: 767px)", srcset="img/prod_mob.webp", type="image/webp")
          source(media="(max-width: 767px)", srcset="img/prod_mob.png")
          source(srcset="img/prod.webp", type="image/webp")
          img.product__img(src="img/prod.png", alt="")
      include order
