section.stop.block
  .container
    h2.stop__title.title До разработки 
      span.text__orange Трауфрила
    h3.stop__subtitle.subtitle.title__line существовало только 
      span.stop__big_yellow.black 3 
      | способа <br> остановить грыжу и предотвратить риск осложнений
    ul.stop__list.list__line
      li.stop__item 
        img.stop__img(src="img/stop__01.jpg", alt="image", loading="lazy")
        .spot__text_wrapper
          h3.stop__header
            sapn.bg__line.bg__line__grey Оперировать — 
            span.text__orange опасно и дорого
          p.stop__text Приводит к осложнениям в 40% случаев и к рецидиву в 80% случаев. Есть противопоказания по состоянию здоровья и возрасту.
      li.stop__item
        img.stop__img(src="img/stop__02.jpg", alt="image", loading="lazy")
        .spot__text_wrapper
          h3.stop__header
            sapn.bg__line.bg__line__grey Вправить — 
            span.text__orange опасно
          p.stop__text В 50% случаев приводит к воспалению и нарушению целостности органа, который выпадает и как результат - к необходимости оперативного вмешательства.
      li.stop__item
        img.stop__img(src="img/stop__03.jpg", alt="image", loading="lazy")
        .spot__text_wrapper
          h3.stop__header
            sapn.bg__line.bg__line__grey Жить с грыжей — 
            span.text__orange опасно
          p.stop__text Поскольку вы будете жить с постоянным риском ущемления грыжи, болью и дискомфортом.
    p.stop__bottom.stop__bottom__big Теперь для вас доступен 
      span.text__orange Трауфрил 
      | — новый метод лечения,
    p.stop__bottom.stop__bottom__small который избавляет вас от проблем с грыжей 
      span.text__orange без операций риска для здоровья!
